
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>

        <div class="col-lg-4 centralizar topo">

            <div class="card">
                <div class="card-body">
                    <h3 class="titulo">Cadastro de Apartamento</h3>
                    <br>
                    <p>Insira o número do apartamento:</p>
                    <div class="form-outline" data-mdb-input-init>
                        <input type="number" id="apartamento" class="form-control" placeholder=" "[(ngModel)]="apartamento.aparnum"/>
                        <label for="apartamento">Número</label>
                    </div>
                    <div id="div_btn">
                        <button [disabled]="apartamento.aparnum == 0 || apartamento.aparnum == null" type="button" class="btn-info btn btn-info" data-mdb-ripple-init (click)="save()"><i class="fas fa-check-circle"></i></button>
                        <button type="button" class="btn-danger btn btn-info" data-mdb-ripple-init routerLink="/admin/apartamento"><i class="fas fa-times-circle"></i></button>
                    </div>
                </div>
                </div>
              </div>

        <div class="col-lg-4"></div>
    </div>
</div>