<div class="container">
    <table class="tabela">
        <h3>Listagem de Clientes</h3>
        <thead id="head_tabela">
            <input type="text" class="form-control" [(ngModel)]="termoPesquisa" (input)="filtrarClientes()" placeholder="Pesquisar por nome...">
            <tr>
                <th>Nome</th>
                <th>Apartamento</th>
                <th>Contrato</th>
                <th>Valor alguel</th>
                <th>Data de entrada</th>
                <div class="direita">
                    <button type="button" class="btn btn-info" title="Cadastrar Cliente" data-mdb-ripple-init routerLink="/admin/cliente/new"><i class="fas fa-user-plus"></i></button>
                </div>
            </tr>
        </thead>

        <tbody id="body_tabela">
            @for (cliente of listaFiltrada; track $index) {
            <tr>
                <td>{{cliente.nome}}</td>
                <td>
                    @for (contrato of cliente.contratos; track $index) {
                    <b>{{contrato.ap.aparnum}}</b><br>
                    }
                </td>
                <td>
                    @for (contrato of cliente.contratos; track $index) {
                    @if(contrato.status){
                    <b style="color: green;">{{contrato.identificador}}</b><br>
                    }@else {
                    <b style="color: red;">Inativo</b><br>
                    }
                    }
                </td>
                <td>
                    @for (contrato of cliente.contratos; track $index) {
                    <b>R$</b> {{+contrato.valor_condominio + +contrato.valor_aluguel + +contrato.valor_internet +
                    +contrato.valor_iptu}}<br>
                    }
                </td>
                <td>
                    @for (contrato of cliente.contratos; track $index) {
                    <b>{{contrato.entrada}}</b><br>
                    }
                </td>
                <td class="direita">
                    <button type="button" class="btn btn-info" title="Informações" [routerLink]="['/admin/cliente/', cliente.id]"><i class="fas fa-info-circle"></i></button>
                    <button type="button" class="btn btn-danger" title="Deletar" data-mdb-ripple-init (click)="deletar(cliente)"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>