<body>
  <div class="menu">
    <ul class="menu-content">
        <li><a href="admin/principal"><i class="fas fa-home"></i><span>Início</span></a></li>
        <li><a href="admin/apartamento"><i class="fas fa-building"></i><span>Apartamentos</span></a></li>
        <li><a href="admin/cliente"><i class="fas fa-user"></i><span>Clientes</span></a></li>
        <li><a href="admin/contrato"><i class="fa-solid fa-file-contract"></i><span>Contratos</span></a></li>
        <li><i class="fas fa-chart-bar"></i> <span>Dashboard</span></li>
        <li><a href="login"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a></li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</body>